<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/EgzaminMAS2</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- <property name="javax.persistence.schema-generation.database.action">drop-and-create</property>-->
        <mapping resource="Technical.hbm.xml"/>
        <mapping resource="GraphicDesigner.hbm.xml"/>        
        <mapping resource="Webdeveloper.hbm.xml"/>
        <mapping resource="Task.hbm.xml"/>
        <mapping resource="Manager.hbm.xml"/>
        <mapping resource="Client.hbm.xml"/>
        <mapping resource="SEOClient.hbm.xml"/>
        <mapping resource="WEBClient.hbm.xml"/>
        <mapping resource="SEOWEBClient.hbm.xml"/>
        <mapping resource="Order.hbm.xml"/>  
        <mapping resource="CustomerService.hbm.xml"/>  
        
    </session-factory>
</hibernate-configuration>